{% extends 'portfolio/layout.html' %}
{% load static %}
{% block main %}
<link rel="stylesheet" href="{% static 'portfolio/css/blog.css' %}">
<title>Blog</title>
<div class="blog">
    {% for post in portfolio %}
        <div>
            <div>
                <div class="title">
                    {{post.titulo}}
                </div>
                <div class="description">
                    {{post.descricao}}
                </div>    
                <div class"info">

                    Autor: {{post.autor}}
                    
                </div>
                <div class"info">

                    Data: {{post.data}}
                    
                </div>
            
                
            </div>
        </div>        
    {% endfor %}
</div> 
    <div class="buttons">      
        <button class"info box">
            <a href="{% url 'portfolio:post' %}">Novo Post</a>
        </button>
    </div>            
{% endblock %}