{% extends 'portfolio/layout.html' %}

{% block main %}
{% load static %}
<link rel="stylesheet" href="{% static 'portfolio/css/edit_cadeira.css' %}">   

<div class="post">
    <h3>Cadeira</h3>
    <form action="{% url 'portfolio:edita_cadeira' cadeira_id %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button>
        <a href="{% url 'portfolio:licenciatura' %}" role="button" class="btn btn-warning">Cancelar</a>
        </button>
        <input type="submit" value="Gravar" class="btn btn-success" >
        <button>
        <a href="{% url 'portfolio:apaga_cadeira' cadeira_id %}" role="button" class="btn btn-danger">Apagar</a>
        </button>
    </form>
</div>
{% endblock %}