{% extends 'portfolio/layout.html' %}
{% load static %}
{% block main %}
<link rel="stylesheet" href="{% static 'portfolio/css/home.css' %}">
    <title>Home</title>
        <br>
        <div class="home">
            <div>
               
                <div><img src="{% static 'portfolio/images/foto.jpg' %}"></div>
                <div>
                    <p>Olá, eu sou o Pedro Moreira tenho 20 anos e estou-me a licenciar em Engenharia Informática 
                        na Universidade Lusófona de Humanidades e Tecnologias.
                </div>
            </div>
        </div>
        <div class="time">
        <script>
            function display_c(){
                var refresh=1000; // Refresh rate in milli seconds
                mytime=setTimeout('display_ct()',refresh)
                }
            function display_ct() {
                var x = new Date()
                var x1= x.getDate() + "/" + (x.getMonth() + 1) + "/" + x.getFullYear(); 
                x1 = x1 + " - " +  x.getHours( )+ ":" +  x.getMinutes() + ":" +  x.getSeconds();
                document.getElementById('ct').innerHTML = x1;
                display_c();
                 }
            </script>
            </head>
            <h2>
            <body onload=display_ct();>
            <span id='ct' ></span>
            </h2>
        </div>
       
{% endblock %}