{% extends 'portfolio/layout.html' %}
{% load static %}
{% block main %}

<link rel="stylesheet" href="{% static 'portfolio/css/licenciatura.css' %}">
<h1>Licenciatura</h1>
    <div class="cadeiras">
        <div> 
            <h3>Arquitetura Avançada de Computadores</h3>
            <a>2ºAno 2ºSemestre 2021/2022</a><p></p><a>ECTS: 6.0</a>
            <br> </br>
            <ul>
                <li>Introdução</li>
                <li>O processador</li>
                <li>Hierarquia de memória</li>
                <li>Arquiteturas Paralelas</li>
                <li>Virtualização</li>  
            </ul>
            <br> </br>
            <a>Projecto: Regador Automático</a>
            <a>Review: ★★★★</a>
        </div>
        <div>
            <h3>Linguagens de Programação II</h3>
            <a>2ºAno 2ºSemestre 2021/2022</a><p></p><a>ECTS: 6.0</a>
            <br> </br>
            <ul>
                <li>Paradigmas de programação</li>
                <li>Conceitos de programação por objectos</li>
                <li>Java orientado a objectos</li>
                <li>Testes Unitários</li>
                <li>Boas Práticas de programação multi-paradigma</li>  
            </ul>
            
            <a>Projecto: THE DEISI GREAT GAME</a>
            <a>Review: ★★★★★</a>
        </div>
        
        <div>
            <h3>Fundamentos de Programação</h3>
            <a>1ºAno 1ºSemestre 2020/2021</a><p></p><a>ECTS: 6.0</a>
            <br> </br>
            <ul>
                <li>Introdução à programação</li>
                <li>Declarações e atribuições</li>
                <li>Expressões aritméticas, expressões lógicas</li>
                <li>Funções</li>
                <li>Tratamento de erros</li>  
            </ul>
                
            <a>Projecto: Tabuleiro de Xadrez</a>
            <br></br>
            <a>Review: ★★★★</a>
        </div>
    </div>
    
{% endblock %}
