{% extends 'portfolio/layout.html' %}
{% load static %}
{% block main %}

<link rel="stylesheet" href="{% static 'portfolio/css/licenciatura.css' %}">
<title>Licenciatura</title>
<h1>Licenciatura</h1>
    <div class="cadeiras">
        {% for cadeira in portfolio %}
        <div> 
            <h3>{{cadeira.nome}}</h3>
            <a>{{cadeira.ano}} {{cadeira.semestre}} {{cadeira.anoLetivo}}</a><p></p><a>ECTS: {{cadeira.ects}}</a>
            <br> </br>
            <a>{{cadeira.descricao}}</a>
            <br> </br>
            
            <a>Projecto: {{cadeira.projecto}}</a>
            <a>Review: {{cadeira.review}}</a>
        </div>
    
        {% endfor %}
    </div>
        
    
{% endblock %}
