{% extends 'portfolio/layout.html' %}
{% load static %}
{% block main %}
<link rel="stylesheet" href="{% static 'portfolio/css/projectos.css' %}">
<title>Projectos</title>
        <h1>Projectos</h1>
        <div class="projectos">
            {% for projecto in portfolio %}
            <div>
                <div><img src="{{projecto.imagem.url}}" ></div>
                <div>
                    <h2>{{projecto.nome}}</h2>
                    <p>{{projecto.descricao}}</p>
                    <button><a href="{{projecto.github}}">GITHUB</a></button>
                </div>
            </div>
            {% endfor %}
            
        </div>
        <div class="buttons">      
            <button class"info box">
                <a href="{% url 'portfolio:edit_project' %}">Editar</a>
            </button>
        </div>    
{% endblock %}
