{% extends 'portfolio/layout.html' %}
{% load static %}
{% block main %}
<link rel="stylesheet" href="{% static 'portfolio/css/quiz.css' %}">
<title>Quiz</title>
<section>
    <h1>Quiz</h1>
   
</section>

<div class="quiz">
     <form method="POST" action="">
        {% csrf_token %}   
         <br>
     Nome:    
     <input type="text" name="name">   
     <br>
    <br>
    <p>
        <h3>O que significa HTML?</h3>
        
        <input type="radio" name="0" value="Hyper Text Preprocessor" id="Hyper Text Preprocessor">
        <label for="Hyper Text Preprocessor">Hyper Text Preprocessor</label>
        <br>
        <input type="radio" name="0" value="Hyper Text Markup Language" id="Hyper Text Markup Language">
        <label for="Hyper Text Markup Language">Hyper Text Markup Language</label>
        <br>
        <input type="radio" name="0" value="Hyper Text Multiple Language" id="Hyper Text Multiple Language">
        <label for="Hyper Text Multiple Language">Hyper Text Multiple Language</label>
        <br>
        <input type="radio" name="0" value="Hyper Tool Multi Language" id="Hyper Tool Multi Language">
        <label for="Hyper Tool Multi Language">Hyper Tool Multi Language</label>
    </p>
    <br>
    <p>
        <h3> O que significa CSS? </h3>
        
        <input type="radio" name="1" value="Common Style Sheet" id="Common Style Sheet">
        <label for="Common Style Sheet">Common Style Sheet</label>
        <br>
        <input type="radio" name="1" value="CounterStrike Source" id="CounterStrike Source">
        <label for="CounterStrike Source">CounterStrike Source</label>
        <br>
        <input type="radio" name="1" value="Computer Style Sheet" id="Computer Style Sheet">
        <label for="Computer Style Sheet">Computer Style Sheet</label>
        <br>
        <input type="radio" name="1" value="Cascading Style Sheet" id="Cascading Style Sheet">
        <label for="Cascading Style Sheets">Cascading Style Sheet</label>
    </p>
    <br>
    <p>
        <h3>Como se adiciona sombra a elementos em CSS3?</h3>
        
        <input type="radio" name="2" value="box-shadow: 10px 10px 5px grey;" id="box-shadow: 10px 10px 5px grey;">
        <label for="box-shadow: 10px 10px 5px grey;">box-shadow: 10px 10px 5px grey;</label>
        <br>
        <input type="radio" name="2" value="shadow-right: 10px shadow-bottom: 10px;" id="shadow-right: 10px shadow-bottom: 10px;">
        <label for="shadow-right: 10px shadow-bottom: 10px;">shadow-right: 10px shadow-bottom: 10px;</label>
        <br>
        <input type="radio" name="2" value="shadow-color: grey;" id="shadow-color: grey;">
        <label for="shadow-color: grey;">shadow-color: grey;</label>
        <br>
        <input type="radio" name="2" value="alpha-effect[shadow]: 10px 10px 5px grey;" id="alpha-effect[shadow]: 10px 10px 5px grey;">
        <label for="alpha-effect[shadow]: 10px 10px 5px grey;">alpha-effect[shadow]: 10px 10px 5px grey;</label>
    </p>
    <br>
    <p>
        <h3>Como forçar uma quebra de linha usando CSS3?</h3>
        
        <input type="radio" name="3" value="word-wrap: break-word;" id="word-wrap: break-word;">
        <label for="word-wrap: break-word;">word-wrap: break-word;</label>
        <br>
        <input type="radio" name="3" value="text-wrap: break-word;" id="text-wrap: break-word;">
        <label for="text-wrap: break-word;">text-wrap: break-word;</label>
        <br>
        <input type="radio" name="3" value="text-wrap: force;" id="text-wrap: force;">
        <label for="text-wrap: force;">text-wrap: force;</label>
        <br>
        <input type="radio" name="3" value="text-width: set;" id="text-width: set;">
        <label for="text-width: set;">text-width: set;</label>
    </p>
    <br>
    <p>
        <h3>Como se cria cantos arredondados usando CSS3?</h3>
        
        <input type="radio" name="4" value="border[round]: 30px;" id="border[round]: 30px;">
        <label for="border[round]: 30px;">border[round]: 30px;</label>
        <br>
        <input type="radio" name="4" value="corner-effect: round;" id="corner-effect: round;">
        <label for="corner-effect: round;">corner-effect: round;</label>
        <br>
        <input type="radio" name="4" value="border-radius: 30px;" id="border-radius: 30px;">
        <label for="border-radius: 30px;">border-radius: 30px;</label>
        <br>
        <input type="radio" name="4" value="alpha-effect: round-corner;" id="alpha-effect: round-corner;">
        <label for="alpha-effect: round-corner;">alpha-effect: round-corner;</label>
    </p>
    <br>
    
    <input type="submit" value="Gravar">
    
</div>
{% endblock %}