* {
    padding: 0; 
    margin: 0;
    box-sizing:border-box;
    font-family: sans-serif;
    
  }
  
h1 {
    font-size: 70px;
    color: #010d48;;;

}
body {
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  display: grid;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}



.cadeiras{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin: 20px;
  
}
.cadeiras h3{
  font-family: Sans-serif;
  /* color:#b50000;*/
  color:#2c45c1;
  font-size: 20px;
}
.cadeiras div {
  justify-content: center;
  background-color: #dedede;
  opacity: 0.75;
  color: black;
  border-radius: 20px;
  /*box-shadow: 10px 10px 20px #7d0303;*/
  margin: 10px;
  padding: 10px 20px;
  width: 300px;
  font-family: fantasy;
  height: 300px;
}

.cadeiras p{
  margin-left: 20px;
}
header {
    height: 10vh; 
    background: rgb(92, 147, 202);
    color: #010d48;
    top: 0;  
    display:flex;
    justify-content: space-between;  
    align-items: center;
  }

  
  
  header div {
    font-size: 2em;  
    padding: 1em;
  }
  
  header nav {
    display:flex;
    
    justify-contents: flex-end;  
  }
  header nav > a:hover {
    /*color: rgb(184, 53, 53);*/

  }
 

  nav a {
    padding: 0 1em;
    text-decoration: none;
    font-size: 1.3rem;
    color: #000e53;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  
  
  footer {
    height: 5vh;
    display: flex;
    justify-content: flex-end;
     color: #000e53;
    align-items: center;
    background-color:  rgb(92, 147, 202);;
    position: absolute; 
    bottom: 0; 
    left: 0; 
    right: 0;
  }
  