@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
  
h1 {
    font-size: 70px;
    color: #ffffff;;;

}
html {
  background-size: cover;
  height: 100%;
  overflow: hidden;
}

main {
  display: grid;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
header {
    height: 10vh; 
    color: #ffffff;
    top: 0;  
    display:flex;
    justify-content: space-between;  
    align-items: center;
  }

  
  
  header div {
    font-size: 2em;  
    padding: 1em;
  }
  
  header nav {
    display:flex;
    
    justify-contents: flex-end;  
  }
  header nav > a:hover {
    /*color: rgb(184, 53, 53);*/

  }
 

  nav a {
    padding: 0 1em;
    text-decoration: none;
    font-size: 1.3rem;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  
  
  footer {
    height: 5vh;
    display: flex;
    justify-content: flex-end;
     color: #ffffff;
    align-items: center;
    position: absolute;
    bottom: 0; 
    left: 0; 
    right: 0;
  }

  .home {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 50px;
}
.home > div {

    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    border-radius: 20px;
    opacity: 0.85;
    box-shadow: 5px 5px 15px #ffffff;
   

}

.home div img {
    width: 250px;
    height: 250px;
    padding: 10px;
    border-radius: 20px;
    
}
.home div div:last-child {

  width: 300px;
  background-color: #ffffff;
  padding: 20px;
  
  border-radius: 0 20px 20px 0;
  display: inline-block;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}